<div class="row">
    <div class="col-12 col-md-6">
        <div class="ms-5">
            
            <div class="subTitle">
                <h1>Welcome</h1>
              <p>Easily Manage your company with our Bug Tracker system. Using this software you will have the ability to Create a new project with deadlines.
                  Assign that project to your Project Managers. Submit Tickets to being tracking your projects and their tasks. Feel free to use the Demo User Button located above
                  inside the Login View!
                 
                  
              </p>
          


            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 order-first order-md-last main-img">
        <img src="~/Cork/assets/img/undraw_bug_fixing_oc-7-a.svg" class="img-fluid" />
    </div>
</div>